/* #region COMMON */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
}

ul li {
  list-style: none;
}

section {
  margin-bottom: 50px;
}

:root {
  --bg-white: #fff;
  --bg-navbar: #0084fd;
  --demo-cards: #b5ddff;
  --bg-violet: #9593e6;
  --itsfree-text: #fdc15f;
  --bg-footer: #333333;
  --text-demo: #656565;
}

/* #endregion COMMON */

/* #region UTILITIES */

.bg-violet {
  background-color: var(--bg-violet);
}

.container {
  margin: auto;
  width: 85%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^="col-"] {
  padding: 1rem;
  border: 1px dashed;
  background-color: aqua;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-12 {
  width: 100%;
}

/* MARGINS BOTTOM  */
.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-150 {
  margin-bottom: 150px;
}

/* #endregion UTILITIES */

/* #region HEADER */

header {
  background-color: var(--bg-navbar);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.dropdown-menu > i {
  color: #fff;
  font-size: 1.6rem;
}

.nav-links {
  display: none;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links ul li a {
  color: white;
}

.nav-links ul li:last-child a {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region DEMO SECTION */
#demo-download .card {
  background-color: var(--demo-cards);
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
}

#demo-download .col-12:first-child .card {
  padding-bottom: 0;
  text-align: start;
}

#demo-download .card > i {
  color: var(--bg-navbar);
  font-size: 5rem;
}

#demo-download .card > h3 {
  color: var(--bg-navbar);
  font-size: 1.3rem;
}

#demo-download .card > p {
  color: var(--text-demo);
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 2;
}

#demo-download .card > .btn {
  padding: 0.5rem 2.5rem;
  background-color: var(--bg-navbar);
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: white;
  border-radius: 20px;
}

#demo-download .card > div {
  width: 90%;
  margin: auto;
}

#demo-download .card div img {
  width: 100%;
}
/* #endregion DEMO SECTION */

/* #region PLANNING SECTION */
.strategic-planning div img {
  width: 100%;
}

.strategic-planning h2,
.strategic-planning p {
  color: white;
}

#planning .card {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 50px;
}

#planning .card > div:first-child > img {
  width: 70%;
  margin: auto;
}

#planning .card .btn {
  background-color: var(--bg-violet);
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 50%;
}
/* #endregion PLANNING SECTION */

/*  #region PARTNERS SECTION */

.testimonial-top {
  text-align: center;
}

.testimonial-top h5 {
  font-size: 1.2rem;
  font-weight: 400;
}

.testimonial-top h2 {
  color: var(--bg-violet);
  font-size: 2rem;
}

.testimonial-card {
  padding: 1.5rem;
  background-color: var(--bg-violet);
  color: white;
  border-radius: 40px;
  text-align: center;
}

.testimonial-img {
  width: 80%;
  max-width: 230px;
  margin: 15px auto;
  aspect-ratio: 1;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

#partners .col-12:nth-child(2) .testimonial-img {
  background-image: url(../img/testimonial1.jpg);
}

#partners .col-12:nth-child(3) .testimonial-img {
  background-image: url(../img/testimonial2.jpg);
}

#partners .col-12:nth-child(4) .testimonial-img {
  background-image: url(../img/testimonial3.jpg);
}

.testimonial-card span {
  font-weight: 600;
}

/*  #endregion PARTNERS SECTION */

/* #region BENEFITS */

#benefits h1 {
  color: white;
  text-align: center;
}

.benefits-card {
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
}

.benefits-card h2 {
  color: var(--bg-violet);
  font-size: 3rem;
}

.benefits-card h3 {
  color: var(--bg-violet);
}

.benefits-card p {
  line-height: 1.8rem;
  font-size: 0.9rem;
  color: var(--text-demo);
}

.benefits-card .btn {
  padding: 0.6rem 2.8rem;
  background-color: var(--bg-violet);
  border-radius: 30px;
  letter-spacing: 0.4rem;
  color: white;
  font-weight: 600;
}

/* #endregion BENEFITS */

/* #region ABOUT US SECTION */

.left h1 {
  color: var(--bg-violet);
  font-size: 2.6rem;
}

.left p {
  line-height: 2rem;
  color: var(--bg-footer);
}

.quote .img-icon {
  width: 60%;
  position: relative;
}

.img-icon i {
  position: absolute;
  color: var(--bg-violet);
  top: 0;
  right: 0;
  font-size: 3.5rem;
}

.quote img {
  width: 100%;
  border-radius: 50%;
}

.quote h2 {
  color: var(--bg-violet);
}

.quote .btn {
  color: white;
  background-color: var(--bg-violet);
  padding: 0.5rem;
  border-radius: 20px;
}

/* #region ABOUT US SECTION */

/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* TABLET RESPONSIVE */
@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: calc(100% / 12);
  }

  .col-sm-2 {
    width: calc((100% / 12) * 2);
  }

  .col-sm-3 {
    width: calc((100% / 12) * 3);
  }

  .col-sm-4 {
    width: calc((100% / 12) * 4);
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-8 {
    width: calc((100% / 12) * 8);
  }

  .col-sm-10 {
    width: calc((100% / 12) * 10);
  }

  .col-sm-12 {
    width: 100%;
  }

  .testimonial-card {
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: start;
  }
}

/* DESPTOP RESPONSIVE */
@media screen and (min-width: 992px) {
  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-sm-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
  }

  nav .dropdown-menu {
    display: none;
  }

  nav .nav-links {
    display: block;
  }

  #planning .row {
    align-items: flex-end;
  }

  #planning .strategic-planning > div:first-child {
    margin-bottom: 100px;
  }

  .testimonial-card {
    gap: 80px;
  }
}

/* #endregion MEDIA QUERIES */
